In [1]:
import pandas as pd

In [2]:
destinations_data = pd.read_csv("destinations_2.csv")

print(destinations_data)

   Destinations  Feedback_Score  Avg_Star_Rating  Number_All_Inclusive_hotels  \
0           UAE               9                5                            5
1           USA               7                4                           13
2         Spain              10                4                           15
3        Sweden               9                5                            3
4         Kenya               7                3                            5
5      Tanzania               6                3                            9
6          Oman               6                3                           12
7      Malaysia              10                4                            7
8     Indonesia               7                3                            5
9     Australia               4                3                           14
10  New Zealand               1                3                            2
11        Japan               1                5                           16
12  South Korea               7                3                            5
13     Thailand               9                3                           10
14  Switzerland              10                5                           10

   Most_Visited_city
0              Dubai
1                 LA
2              Barca
3          Stockholm
4            Mombasa
5           Zanzibar
6             Muscat
7       Kuala Lumpur
8               Bali
9             Sydney
10          Auckland
11             Tokyo
12             Seoul
13           Bangkok
14            Zurich

# _Task 1_
## _1. How many rows and columns are there in your file?_

In [3]:
print(destinations_data.shape)

(15, 5)

# _Task 2_
## _2. Print row 3-8 ( using iloc/loc)._

In [4]:
# Using iloc

print(destinations_data.iloc[3:9])

  Destinations  Feedback_Score  Avg_Star_Rating  Number_All_Inclusive_hotels  \
3       Sweden               9                5                            3
4        Kenya               7                3                            5
5     Tanzania               6                3                            9
6         Oman               6                3                           12
7     Malaysia              10                4                            7
8    Indonesia               7                3                            5

  Most_Visited_city
3         Stockholm
4           Mombasa
5          Zanzibar
6            Muscat
7      Kuala Lumpur
8              Bali

In [5]:
# Using loc
destinations_data_loc = pd.read_csv("destinations.csv", index_col= "Destinations")

print(destinations_data_loc.loc[["Sweden", "Kenya", "Tanzania", "Oman", "Malaysia", "Indonesia"]])

              Feedback_Score  Avg_Star_Rating  Number_All_Inclusive_hotels  \
Destinations
Sweden                     8                5                          135
Kenya                      8                3                          112
Tanzania                   6                3                           89
Oman                       6                3                           62
Malaysia                  10                4                          342
Indonesia                  7                3                          231

             Most_Visited_city
Destinations
Sweden               Stockholm
Kenya                  Mombasa
Tanzania              Zanzibar
Oman                    Muscat
Malaysia          Kuala Lumpur
Indonesia                 Bali

# _Task 3_

## _3. Find the mean number of all-inclusive hotels across all destinations._

In [6]:
print(destinations_data["Number_All_Inclusive_hotels"].mean)

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0      5
1     13
2     15
3      3
4      5
5      9
6     12
7      7
8      5
9     14
10     2
11    16
12     5
13    10
14    10
Name: Number_All_Inclusive_hotels, dtype: int64>

# _Task 4_

## _4. Find the lowest scoring destination._

In [13]:
destinations_data['Feedback_Score'].idxmin()
destinations_data.iloc[10,:]

Destinations                   New Zealand
Feedback_Score                           1
Avg_Star_Rating                          3
Number_All_Inclusive_hotels              2
Most_Visited_city                 Auckland
Name: 10, dtype: object

# _Task 5_

## _5. Find the highest scoring destination._

In [18]:
destinations_data['Feedback_Score'].idxmax()
destinations_data.iloc[2,:]

Destinations                   Spain
Feedback_Score                    10
Avg_Star_Rating                    4
Number_All_Inclusive_hotels       15
Most_Visited_city              Barca
Name: 2, dtype: object

# _Task 6_

## _6. Find all the destinations where there are more than 9 all-inclusive hotels._

In [21]:
more_than_nine = destinations_data['Number_All_Inclusive_hotels'] > 9

more_than_nine

0     False
1      True
2      True
3     False
4     False
5     False
6      True
7     False
8     False
9      True
10    False
11     True
12    False
13     True
14     True
Name: Number_All_Inclusive_hotels, dtype: bool

In [22]:
all_inclusive = destinations_data[more_than_nine]

all_inclusive.head()

,Destinations,Feedback_Score,Avg_Star_Rating,Number_All_Inclusive_hotels,Most_Visited_city
1,USA,7,4,13,LA
2,Spain,10,4,15,Barca
6,Oman,6,3,12,Muscat
9,Australia,4,3,14,Sydney
11,Japan,1,5,16,Tokyo

# _Task 7_

## _7. Filter the data by score above 8._

In [23]:
above_eight = destinations_data['Feedback_Score'] > 8

above_eight

0      True
1     False
2      True
3      True
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13     True
14     True
Name: Feedback_Score, dtype: bool

In [24]:
hotels_above_8 = destinations_data[above_eight]

hotels_above_8.head()

,Destinations,Feedback_Score,Avg_Star_Rating,Number_All_Inclusive_hotels,Most_Visited_city
0,UAE,9,5,5,Dubai
2,Spain,10,4,15,Barca
3,Sweden,9,5,3,Stockholm
7,Malaysia,10,4,7,Kuala Lumpur
13,Thailand,9,3,10,Bangkok

# _Task 8_

## _8. Filter the data score below 2 (I need to know if these destinations should be removed or there is a problem)_

In [25]:
below_2 = destinations_data['Feedback_Score'] < 2

below_2

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11     True
12    False
13    False
14    False
Name: Feedback_Score, dtype: bool

In [26]:
below_two_hotels = destinations_data[below_2]

below_two_hotels.head()

,Destinations,Feedback_Score,Avg_Star_Rating,Number_All_Inclusive_hotels,Most_Visited_city
10,New Zealand,1,3,2,Auckland
11,Japan,1,5,16,Tokyo